@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Enter the url</h1>
    <input type="url" id="urlBox"/>
    <button id="shortUrlButton">Shorten</button>
    <div id="convertedUrls"></div>
</div>

@section Scripts{
    <script src="~/webpack/index.js"/>
    <script type="text/javascript">


    </script>
}