@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Enter the url</h1>

    <div class="flexCenter convertContainer">
        <input type="url" id="urlBox" placeholder="https://example.com" />
        <button id="shortUrlButton">✔</button>

    </div>
    <div id="convertedUrls"></div>
</div>

@section Scripts{
    <script src="~/webpack/index.js"></script>
}
@section Styles{
    <link rel="stylesheet" href="~/webpack/css/index.css"/>
}